<% content_for :title, "Editing movie" %>

<h2 class="contanier text-white text-center "> Editar Pelicula</h2>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Show this movie", @movie %> 
  <%= link_to "Back to movies", movies_path %>
</div>
